$main-color: #005cbb;

// background-colors
$main-background-color: #e5e5e5;

// fonts-colors
$grey-font-color: #929292;
$secodary-grey-font-color: #828282;
$third-grey-font-color: #f2f2f2;
$dark-grey-font-color: #4f4f4f;
$dark-font-color: #000000;
