<header class="header">
  <div class="container header__container">
    <div class="header__logo" routerLink="/main">
      <h1 class="header__hidden-title">YouTube Client</h1>
      <img class="header__logo-img" src="assets/icons/logo.svg" alt="logo" />
    </div>
    <app-search-form
      class="header__search"
      *ngIf="isUserLoggedIn$ | async"
      (setSearchValueEvent)="setSearchValue($event)"
    ></app-search-form>
    <app-settings-button
      [style.visibility]="(hasResults$ | async) ? 'visible' : 'hidden'"
      class="header__settings-btn"
    ></app-settings-button>
    <app-login class="header__login"></app-login>
  </div>
</header>
