@import "../../../../styles/colors";

.header {
  background-color: $main-background-color;

  &__container {
    display: grid;
    grid-template-columns: 390px 1fr 40px 1fr;
    justify-items: center;
    align-items: center;

    height: 80px;
  }

  &__logo {
    justify-self: end;

    width: 55px;
    height: 55px;

    cursor: pointer;
  }

  &__hidden-title {
    display: none;
  }

  &__search {
    margin: 0 10px;
  }

  &__login {
    display: flex;
    justify-content: flex-end;
    width: 340px;
    margin-left: 10px;
  }
}
